@import '../../Styles/variables';
@import './Components/DetailDepartment/DetailDepartment';
@import './Components/ItemDepartment/ItemDepartment';

.department-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0 50px 0;
}
