@import "../../Styles/variables";
@import "./components/OveriewEdit/OveriewEdit";
@import "./components/DocumentsEdit/DocumentEdit";
@import "./components/ContactEdit/ContactEdit";

.Company{
    margin-top: 100px;
	margin-bottom: 20px;
	width: 100%;
    background-color: #eff3f5;
}
