
@import '../../../Styles/variables';
@import '../../User/Shared/button-form.scss';

.management-edit-info {

    background-color: rgb(228, 225, 225);
    margin: 45px 65px;

    &__title {
        font-size: 40px;
        color: #ffff;
        padding: 15px 30px;
        background-color: $c-primary;
    }

    &__form {
        padding: 40px 30px;

        .form-edit__title {
            color: rgb(0, 0, 0);
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .form-edit__input {
            height: 50px;
            font-size: 18px;
        }
    }
}