@import '../../../../Styles/variables';

.content__table-item {
    .table-item__selected {
        width: 5%;

        input {
            width: 20px;
            height: 20px;
        }
    }

    .table-item__id {
        width: 18%;
    }

    .table-item__username {
        width: 15%;
    }

    .table-item__email {
        width: 20%;
    }

    .table-item__team {
        width: 15%;
    }

    .table-item__status {
        width: 12%;
    }

    .table-item__view-detail {
        width: 10%;
        font-size: 30px;
        padding: 0 0 7px 0;
        cursor: pointer;

        .view-detail__icon {
            
        }

    }

    .table-item__edit-info {
        width: 5%;
        font-size: 25px;
        padding: 0 0 7px 0;
        cursor: pointer;

        .edit-info__icon {
           color: rgb(107, 106, 106); 
        }

        .edit-info__icon:hover {
            color: rgb(43, 42, 42); 
        }
        
    }

}