.document-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #e6e9eb;
    .document-header {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .document-item {
        width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 10px 0;
        border-top: 1px solid gray;
    }
}
