.document-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: white;
    .document-header {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .document-item {
        width: 100%;
        height: auto;
        margin-top: 5px;
        padding-top: 15px;
        border-top: 1px solid gray;
    }
}
