.BasicInfoTeam{
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px 15px 0px 15px;
    line-height: 1;
    p{
        font-weight: bold;
        margin-right: 10px;
        span{
            font-weight: initial;
        }
    }
}