.profile-header__overview {
    padding: 2rem 0 2rem 0;
    display: flex;
    margin-bottom: 3em;

    .overview__avatarUser {
        background-color: white;
        width: 8rem;
        height: 8rem;
        position: relative;
        border-radius: 5em;
        float: left;
        margin-right: 2rem;

        .avatarUser__iconAvatar {
            font-size: 5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .overview__info {
        margin-top: 2rem;
        color: white;

        .info__username {
            font-size: 30px;
        }

        .info__email {
            font-size: 18px;

            .email__icon {
                margin-right: 10px;
            }
        }
    }

}