.container-company {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    .main {
        width: 80%;
        height: auto;
        background-color: khaki;
        letter-spacing: normal;
        padding: 20px;
        .main-header {
            width: 100%;
            height: 120px;
            background-color: gray;
            text-align: left;
            h2 {
                padding-top: 20px;
                font-weight: lighter;
            }
            p {
                padding-top: 10px;
            }
        }
        .main-nav {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .main-nav-top {
                width: 100%;
                overflow: hidden;
                background-color: #333;
                h5 {
                    float: left;
                    color: #f2f2f2;
                    text-align: center;
                    padding: 14px 16px;
                    font-size: 17px;
                    cursor: pointer;
                }
                h5:hover {
                    background-color: #ddd;
                    color: black;
                }
            }
            .main-container {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                .main-container-left {
                    width: 60%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    padding-right: 10px;
                    .main-container-left-overview {
                        width: 100%;
                        height: 110px;
                        display: flex;
                        flex-wrap: wrap;
                        border-radius: 20px;
                        border: 1px solid black;
                        .main-container-left-overview-header {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            flex-wrap: wrap;
                            .main-container-left-overview-header-left {
                                width: 50%;
                                height: 100%;
                                text-align: left;
                                h4 {
                                    margin: 10px 0 0 5px;
                                }
                            }
                            .main-container-left-overview-header-right {
                                width: 50%;
                                height: 100%;
                                text-align: right;
                                button {
                                    margin: 10px 5px 0 0;
                                    padding: 5px 10px;
                                }
                            }
                        }
                        .main-container-left-overview-content {
                            width: 100%;
                            height: 70px;
                            display: flex;
                            flex-wrap: wrap;
                            text-align: center;
                            .content-items {
                                width: 33.33%;
                                height: 100%;
                                text-align: center;
                                h4 {
                                    padding-top: 20px;
                                }
                            }
                            
                        }
                    }
                    .main-container-left-note {
                        width: 100%;
                        height: 100px;
                        margin-top: -40px;
                        padding: 10px;
                        overflow: auto;
                        text-align: left;
                        border-radius: 20px;
                        border: 1px solid black;
                    }
                }
                .main-container-right {
                    width: 40%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    .main-container-right-top {
                        width: 100%;
                        height: 180px;
                        border-radius: 20px;
                        text-align: left;
                        border: 1px solid black;
                        h4 {
                            padding: 20px 0 0 10px;
                        }
                        p {
                            padding: 10px 0 0 10px;
                        }
                    }
                    .main-container-right-bottom {
                        width: 100%;
                        margin-top: 10px;
                        border-radius: 20px;
                        text-align: center;
                        border: 1px solid black;
                        h4 {
                            padding: 20px;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
