
.manage-timeoff-header {
    margin-top: 50px;
    display: flex;

    .form-header-timeoff {
        margin-right: 25px;

        .btn-header {
            padding: 13px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}