
div.card-people{
    background-color: #0069d1;
    width: 100%;
        
        div.border-header{
            border-bottom: solid 2px #0056b8;
            h1.card-name{
                width: 60%;
                padding-left: 20%;
                box-sizing: content-box;
                color: white;
                font-weight: bold;
                height: 6rem;
                line-height: 6rem;
                margin: 0px;
        }

        }
        div.border-list{
            div.list{
                width: 100%;
                padding-left: 20%;
                box-sizing: content-box;
                padding-top: 20px;
                padding-bottom: 20px;
                margin: 0px;
                a.list-item{
                    cursor: pointer;
                    color: white;
                    text-decoration: none;
                    padding: 20px 22px 20px 22px;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                a.list-item:hover{
                    background-color: #0056b8;
                    color: rgb(80, 226, 195);
                    border-bottom: #50e2c3 solid 3px;
                }
            }
        }
}