@import './AddMember/AddMember.scss';
@import './BasicInfoTeam/BasicInfoTeam.scss';
@import './MemberInfoTeam/MemberInfoTeam.scss';

.MainTeam{
    .InfoTeam{
        margin-top: 10px;
        .MuiGrid-container{
            margin: 10px 15px;
        }
    }
    .infor{
        position: fixed;
        width: 800px;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
        border: none;
        padding: 5px;
    }
}
.noneDisplay{
    display: none;
}