@import '../../../Styles/variables';
.CardContent{
  margin:0 100px 0 100px;
}
.title_Typography{
    // border-bottom: 2px solid $c-primary ;
    padding: 20px 0 0px 20px;
}
.email_system{
    .email{
        padding: 5px 0 20px 20px;
        .title-input {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .input {
            font-size: 15px;
        }
    }
    .password{
        padding: 5px 0 20px 20px;
        .title-input {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .input {
            font-size: 15px;
        }
    }
}
.holiday{
    .type_holiday {
        padding: 5px 0 20px 20px;
        .title-input{
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }.input {
            font-size: 15px;
        }
    }
}
.calendar_dialog{
    margin:100px 100px 0 100px;
    height: 100%;
}.grid_height_fix {height:200px;}
.KeyboardTimePicker{
    padding: 5px 0 20px 20px;
}