.appCompanyContainer{
    margin-top: 100px;
    margin-bottom: 20px;
	// margin: auto;
    width: 100%;
    background-color: #f1f6f8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px grey;

	div.c_header{
		background-image: url('https://s3-eu-west-1.amazonaws.com/charlie-production/static/default-splash.jpg');
        border-radius: 5px;
		div.textWelcome{
			padding-top: 120px;
		    padding-bottom: 120px;
		    padding: 120px 120px 120px 120px;
			h3{
				color: white;
    			font-size: 40px;
			}
			div.editButton{
				display: flex;
				div.editButtonItem{
					border-radius: 5px;background-color: #00a3f5;padding: 10px 10px;color: #ffffff;margin: 2px 2px;cursor: pointer;box-shadow: 0px 2px 0px 0px #008bdb;
				}
				div.editButtonItem:hover{							
				background-color: #0069d1;
				}
			}	
		}
	}
	div.companyTab{
			padding-left: 120px;
			display: flex;
			background-color: #0069d1;
			div.companyTabSelect{
				background-color: #0069d1;
			    font-size: 20px;
			    padding: 18px 18px;
			    color: #efefef;
			}
			div.companyTabSelect:hover{
				background-color: #055ab0;
			    border-bottom: solid 3px #8bfee3;
			    color: #8bfee3;
			}
		}

		div.detailContent{
			div.leftContent{
				div.overView{
					div.overViewTop{
						h3{
						    // float: left;
						}
					}
					div.overViewContent{
						margin: 20px 0px;display: flex;
						div.overViewContentItem{
							text-align: center;
						    width: 20%;
						    margin: 2%;
							h4{
								font-size: 30px;
							}
							h2{
								font-size: 20px;
							    font-weight: 200;
							    color: gray;
							}
						}
					}
					div.buttonManage{
						background: #e0e7eb;
					    text-align: center;
					    color: #63899c;
					    box-shadow: 0px 1px 2px 0px grey;
					    padding: 10px 10px;
					    border-radius: 5px;
					    text-transform: uppercase;
					}
					div.buttonManage:hover{
						color: white;
					    background: #0b71d7d9;
					    box-shadow: 0px 1px 2px 0px #2a2929;
					}
				}
				div.document{
					div.documentTop{
						h3{

						}
					}
					div.documentContent{
						margin: 10px 10px;
						div.documentContentItem{
							h3{

							}
							p{

							}
						}
					}
				}
			}
			div.rightContent{
				div.contact{
					div.contactTop{
						h3{

						}
						div.contactItem{
							margin: 10px 10px;
    						font-size: 20px;
							i{

							}
						}
					}
				}
			}
            
	}
}

.right{
	float: right;
    margin-top: -25px;
    font-size: 20px;
}

.boxContent{
	background-color: white;
    color: #2e424d;
    border-color: #f1f6f8;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    border: solid 1px #e4e6e7;
    padding: 20px;
}

.topLeftContent{
	font-size: 30px;
	margin: 0px;
}