div.list-team{
    width: 60%;
    padding-left: 20%;
    box-sizing: content-box;
    padding-top: 5px;


    div.add-team{
        overflow: auto;
        margin-bottom: 20px;
        h3.list-my-team{
            float: left;
            color: rgb(0, 105, 209);
        }

        button.btn-addNewTeam{
            float: right;
            color: rgb(0, 105, 209);
            border: 2px solid rgb(0, 105, 209);
            border-radius: 20px;
            font-size: 20px;
        }

    }



}