@import '../../../../Styles/variables';

.book-time-off {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-100%);
    background-color: rgb(252, 255, 255);
    max-width: 550px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(26, 71, 75);
    overflow: hidden;

    h4 {
        margin-top: 2%;
        font-size: 25px;
        text-align: center;
        background-color: rgb(57, 133, 255);
        color: white;
        padding: 15px 20px;
        margin-top: 0;
    }

    .book__content {
        padding: 15px;


        .label-input-date {
            margin-top: 15px;
        }

        .label-input-duration {
            margin-top: 15px;
        }

        .input-date {
            width: 81%;
            height: 45px;
            float: left;
        }

        .input-duration {

            select {
                width: 113%;
                height: 45px;
            }
        }

        .input-textarea {
            min-height: 120px;
            max-height: 120px;
        }


    }

    .control-book-time {
        padding: 20px 15px;
        background-color: rgba(200, 201, 202, 0.534);
        height: 5rem;
        a {
            cursor: pointer;
            color: white;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 12px;
            border-radius: $border-radius;
            margin-bottom: 15px;
        }

        .btn-close {
            background-color: rgb(160, 158, 158);
            float: left;

        }

        .btn-submit {
            background-color: $c-primary;
            float: right;
        }
    }
}