@import '../../../../Styles/variables';
.MemberInfoTeam{
    margin: 10px 0px 0px 0px;
    padding: 10px 15px;
    border-radius: 5px;
    min-height: 400px;
    .MuiTableRow-head{
        background-color: $c-primary;
        .MuiTableCell-head{
            font-weight: bold;
            color: $c-text-table-head;
        }
    }
}