

    .MuiTableRow-head{
        background-color: #2883b7;
    }
    .odd{
        background-color: #f4fcf6;
    }
    .MuiTableBody-root{
        .MuiTableRow-root:hover{
            background-color: #e7f4eb;
        }
    }
