.overview-container {
    width: 70%;
    height: auto;
    h3 {
        font-size: 25px;
    }
    .overview-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        .content-item {
            width: 33.33%;
            height: 100px;
            text-align: center;
        }
    }
}
