@import '../../../User/Shared/button-form.scss';
.management-user-info {
    padding: 50px 70px;

    .user-info {
        width: 100%;
        
        .title {
            font-size: 35px;
            color: $c-primary;
            border-bottom: 2px solid $c-primary;
        }

        .detail {
            width: 100%;
            margin-top: 2em;
        }

    }
}