.quickview-content {
    width: 60%;
    height: auto;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: white;
    padding: 30px;
    .quickview-item {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 15px;
        text-align: center;
        border-top: 1px solid gray;
        div {
            font-size: 20px;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}
