.quickview-content {
    width: 60%;
    height: auto;
    padding: 30px;
    .quickview-item {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 15px;
        text-align: center;
        border-top: 1px solid #e6e9eb;
        div {
            font-size: 20px;
        }
    }
    @media (max-width: 1024px) {
        width: 100%;
    }
}
