.nav-bar {
    width: 100vw;
    height: 5em;
    background-color: rgb(55, 126, 192);
    padding: 1em 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

    &__title {
        color: white;
        float: left;

    }

    .search-bar {
        &__search {
            display: block;
            padding-left: 2em;
            margin-left: 6rem;
            width: 60vw;
            height: 44px;
            float: left;
            position: relative;
            z-index: 2;
        }

        &__icon {
            color: #2c28285c;
            font-size: 25px;
            position: absolute;
            left: 12vw;
            top: 26px;
            z-index: 3;
        }
    }

    .user-login {
        float: right;
        margin-right: 5rem;

        &__username {
            font-size: 20px;
            color: white;
            display: inline-block;
            vertical-align: middle;
        }

        &__avatar {
            margin-right: 20px;
            font-size: 2.5em;
            color: white;
        }

        &__arrow {
            font-size: 1.5em;
            margin-left: 2.5rem;
            color: white;
            cursor: pointer;
        }

        &__sub-menu {
            display: none;

            ul {
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                box-shadow: 0 0 5px;
                padding-left: 0;
                padding-bottom: 8px;
                overflow: hidden;

                li {
                    padding-top: 10px;
                    padding-left: 15px;
                    list-style: none;
                    color: rgb(15, 15, 15);
                    cursor: pointer;
                    font-size: 1.2em;
                    padding-bottom: 10px;

                    .sub-menu__icon {
                        padding-right: 10px;

                    }

                    .profile {
                        font-size: 30px;
                        margin-right: 8px;
                    }

                    .setting {
                        font-size: 38px;
                    }

                    .logout {
                        font-size: 38px;
                    }
                }

                li:hover {
                    background-color: rgb(104, 196, 219);


                }

            }

        }
    }

}