.contact-content {
    width: 35%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 10px;
    background-color: #e6e9eb;
    .contact-item {
        width: 100%;
        height: auto;
        padding: 10px 0;
        border-top: 1px solid gray;
        div {
            border: none;
            overflow: hidden;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
        margin-top: 10px;
    }
}
