.document-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    .document-item {
        padding: 5px 70px;
        width: 100%;
        height: auto;
    }
    .document-btn{
        font-size: 24px;
        float: right;
        background-color: aqua;
    }
}
