.Certifecate{
    margin: 100px;
    h4{
        text-align: center;
        margin-top: 20px;
    }
    .Certifecate-form{
        margin: 30px 100px;
    }
    Button{
        float: right;
        margin: 30px 0;
    }
 
}