
@import '../../Shared/Style/variables';

.management-add-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 24, 24, 0.568);
    animation: fadeIn linear 200ms;

    .add-new-user {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        overflow: hidden;
        background-color: rgb(251, 248, 248);

        .title {
            color: #ffff;
            font-size: 28px;
            background-color: $color-primary;
            padding: 10px 20px;
        }

        .input {
            padding: 20px 25px;

            .input-field {
                width: 100%;
                margin-top: 13px;
            }
        }

        .validate-noti {
            display: block;
            margin-top: 8px;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
            color: red;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}