@import '../../../../Styles//variables';
@import '../../../User/Shared/button-form.scss';
.management-add-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 24, 24, 0.568);
    animation: fadeIn linear 200ms;

    .add-new-user {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgb(251, 248, 248);

        .title {
            color: #ffff;
            font-size: 28px;
            background-color: $c-primary;
            padding: 10px 20px;
        }

        .input {
            padding: 20px 25px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}