@import '../../../Styles/variables';

.management-users-content {
    height: 100vh;
    background-color: #ffff;
    padding: 50px 45px;

    .add-user {
        float: right;
        margin-bottom: 20px;

        .btn-add-user {
            cursor: pointer;
            text-decoration: none;
            padding: 15px 20px;
            width: auto;
            color: #ffff;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: $c-primary;
            border-radius: 5px;
        }

        .btn-add-user:hover {
            background-color: rgb(19, 65, 149);
        }

    }

    .table-header {
        width: 100%;
        height: 50px;
        background-color: $c-primary;
        color: #ffff;
    }

    .table-body {

       
    }

}