@import url(../../../../Styles/_variables.scss);

$f-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$b-color: #d4d5d6;

div.team-body{
    div.team-body_overview{
        // background-color: #e2e3e5;
        
        padding-top: 50px;
        padding-bottom: 50px;
    }
}