
@import '../../../../Styles/variables';
@import '../Employment.scss';


.employment__manager {
    h3 {
        @include title-box-style();
    }

    .your-manager {
        padding: 25px 20px;
        background-color: rgba(138, 138, 138, 0.164);
        border-radius: 0.8rem;

        &__title {
            @include sub-title-box();
            margin-bottom: 2rem;
        }

        &__bar {
            border-radius: 0.4rem;
            width: 100%;
            height: auto;
            background-color: white;
            overflow: hidden;
            cursor: pointer;

            .icon-manager {
                font-size: 50px;
                color: rgb(77, 75, 75);
                padding: 10px;
                background-color: black;
                margin-right: 15px;

            }

            .name-manager {
                font-size: 19px;
                font-weight: 400;
                ;
            }

        }
        .btn-primary {
            width: 100%;
            @include button-style();
            margin-top: 1rem;
        }
    }
}