
.time-off-form {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.527);
    z-index: 10;

    .form {
        width: 500px;
        height: 100%;
        padding: 50px 15px 20px 35px;
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        background-color: white;
        transform: translateX(550px);
        animation:  openTimeOffForm 400ms linear forwards;
        
        
        .title {
            color: #3f50b5;
        }

        .input-field {
            width: 100%;
        }

        .div-margin {
            margin-top: 25px;
        }

        .validate-noti {
            display: block;
            margin-top: 8px;
            font-style: italic;
            font-size: 15px;
            color: red;
        }

        .btn-choose-time {
            margin-right: 13px;
        }
        
    }

    .btn-control-box {
        margin-top: 20px;
        margin-right: 35px;
    }

    @keyframes openTimeOffForm {
        from {
            transform: translateX(550px);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes closeTimeOffForm {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(550px);
        }
    }
    
}

