@mixin labelInfoUser {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.item-member {
    width: 100%;
    background-color: rgb(13, 143, 218);
    min-height: 80px;
    overflow: hidden;
    border-radius: 10px;
    padding: 9px 15px;
    display: flex;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.6em;
    transition: 250ms;
    animation: dropUp ease 0.3s forwards;

    &__avatar {
        width: 50px;
        height: 50px;
        background-color: #F5F5F5;
        border-radius: 35px;
        margin-top: 5px;
        border: 1px solid white;

    }

    &__info-user {
        margin-left: 1em;
    }

    &__username {
        color: white;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
    }

    &__team-user {
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin-top: -15px;

        .team-user-list {
            font-weight: 400;
        }
    }

    &__choosed-icon {
        position: absolute;
        color: white;
        font-size: 35px;
        right: 5%;

    }

    &__info-detail {
        width: 100%;
        height: 50px;
        z-index: 150;
        margin-top: 13%;
        margin-left: -57%;
        display: none;
        transition: 200ms;
        padding-left: 70px;

        .info-detail__email {
            @include labelInfoUser();
        }

        .info-detail__phone-number {
            @include labelInfoUser();
        }

        span {
            padding-left: 7px;
            font-size: 17px;
            font-weight: 400;
        }

    }

}

.item-member:hover {
    transition: 200ms;
    animation: dropDown linear 0.3s forwards;
}

.item-member:hover .item-member__info-detail {
    transition: 3000ms;
    display: block;
    
}

@keyframes dropDown {
    from {
        height: 84px;
        
    }
    to {
        height: 150px;
    }
}

@keyframes dropUp {
    from {
        height: 150px;
    }
    to {
        height: 84px;
    }
}