@import '../../../ManagementUsers/Shared/Style/variables';

.login-page {
    background-image: url(../../Shared/Image/hrm-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 -100px;
    box-shadow: inset 0 0 0 2000px #0000008e;
    height: 100vh;
    padding-top: 150px;

    .loginCard {
        width: 500px;
        min-height: 570px;
        padding: 20px 60px;
        margin: auto;
        background-color: $color-white;

        .header {
            margin-top: 30px;
            margin-bottom: 25px;
            .send-icon {
                display: block;
                margin: 0 auto;
                width: 80px;
                height: 80px;
                background-color: $color-background;
                color: $color-white;
                padding: 10px 15px;
                border-radius: 50%;
                transform: rotate(-30deg);
              
            }
        }


        h2 {
            margin: 0 0 30px 0;
            text-align: center;
            color: $color-primary;
        }

        .form-input {
            margin-bottom: 1.8em;
            width: 100%;

            .title-input {
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 500;
            }

            .input {
                min-height: 50px;
                font-size: 18px;
            }

            .validate-noti {
                font-style: italic;
                display: block;
                margin-top: 7px;
                color: red;
                font-size: 15px;
            }

        }

        .btn-control-box {
            margin-top: 20px;
            margin-right: 0;

            .btn-control-primary {
                width: 100%;
                height: 55px;
                margin-left: 0;
            }
        }
    }

}