@import '../../../../Styles/variables';

.paper{
    padding: 6px 16px,
}
.btn-addNew{
    float: right;
    padding: 10px;

}
.TimelineContent{
    border: 2px solid #3f50b5;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
}
.appBar {
    position: relative;
}
  .title{
    margin-left: 5px;
    flex: 1;
  }
.Typography{
    height: 100px;    
}
  .career{
    margin: 50px;
    .carrer-timeline{
        background-color: antiquewhite;
    }
    .carrer-btn{
       float: right;
    }
}
.TimeLine-TimelineConnector{
    background-color: #3f50b5;
}